{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'styles/faq.css' %}">
</head>
<body>
<div class="container" style="background-image:url({% static 'images/faq.jpeg' %}); background-repeat: no-repeat; background-size: 100% 28%;"><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer">Where can I register for COVID-19 vaccination?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            You can log into the portal using the link www.covac.in and click on the “Register/Sign In yourself” tab to register yourself for COVID-19 vaccination.
          </p>
        </div>
      </div>
    </div>

    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-2">Is there a mobile app that needs to be installed to register for vaccination?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            There is no authorised mobile app for registering for vaccination in India except Aarogya Setu. You need to log into the portal. Alternatively, you can also register for vaccination through the Aarogya Setu App.
          </p>
        </div>
      </div>
    </div>

    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">Which age groups can register for vaccination on the portal?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            All citizens aged 18 years and above can register for vaccination.
          </p>
        </div>
      </div>
    </div>

     <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-4">Is online registration mandatory for Covid 19 vaccination?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            Vaccination Centres provide for a limited number of on-spot registration slots every day. Citizens aged 45 years and above can schedule appointments online or walk-in to vaccination centres. However, Citizens aged 18-44 years should mandatorily register themselves and schedule appointment online before going to vaccination centre.
            In general, all citizens are recommended to register online and schedule vaccination in advance for a hassle-free vaccination experience.

          </p>
        </div>
      </div>
    </div>



     <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-6" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-6">How to book an appointment for vaccination in the portal?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            You can book appointment for vaccination through portal after logging-in to the Portal through your login credentials. The system will show vaccination centres that allow vaccination as per the age of the citizen entered in the registration portal.
          </p>
        </div>
      </div>
    </div>

    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-7" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-7">How can I find the nearest vaccination centre?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            You can search in portal for the vaccination centre nearest to your location by either searching through PIN code or by choosing the State and the District.
          </p>
        </div>
      </div>
    </div>

    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-8" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-8">Is it necessary to take 2nd dose of vaccination?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
           Yes.It is recommended that both doses of vaccine should be taken for realising the full benefit of vaccination. Both doses must be of the same vaccine type.
          </p>
        </div>
      </div>
    </div>

    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-9" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-9">Will my 2nd dose appointment be automatically scheduled by system?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
           No. You have to take an appointment for the 2nd dose vaccination. The system will help you book an appointment in a Vaccination Centre where the same vaccine is being administered as the vaccine type (COVAXIN or COVISHIELD) of the 1st dose.
          </p>
        </div>
      </div>
    </div>

     <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-10" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-10">Why do I need a vaccination certificate?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
           A COVID Vaccine Certificate (CVC) issued by the government offers an assurance to the beneficiary on the vaccination, type of vaccine used, and the provisional certificate also provides the next vaccination due. It also is an evidence for the citizen to prove to any entities which may require proof of vaccination specially in case of travel. Vaccination not only protects individuals from disease, but also reduces their risk of spreading the virus. Therefore, there could be a requirement in future to produce certificate for certain kind of social interactions and international travel.
          </p>
        </div>
      </div>
    </div>

     <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-11" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-11">Which documents should I carry with me for vaccination? </label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
          You should carry your identity proof specified by you at the time of registration on the portal and a printout/screenshot of your appointment slip.
          </p>
        </div>
      </div>
    </div>

    
    
    
  </div>

</body>

</html>